{{define "status"}}
[![Build Status](https://github.com/otter-trade/coin-exchange-api/actions/workflows/tests.yml/badge.svg?branch=master)](https://github.com/otter-trade/coin-exchange-api/actions/workflows/tests.yml)
[![Software License](https://img.shields.io/badge/License-MIT-orange.svg?style=flat-square)](https://github.com/otter-trade/coin-exchange-api/blob/master/LICENSE)
{{with .}}[![GoDoc](https://godoc.org/github.com/otter-trade/coin-exchange-api?status.svg)](https://godoc.org/github.com/otter-trade/coin-exchange-api/{{.}}){{else}}[![GoDoc](https://godoc.org/github.com/otter-trade/coin-exchange-api?status.svg)](https://godoc.org/github.com/otter-trade/coin-exchange-api/){{end}}
[![Coverage Status](http://codecov.io/github/otter-trade/coin-exchange-api/coverage.svg?branch=master)](http://codecov.io/github/otter-trade/coin-exchange-api?branch=master)
[![Go Report Card](https://goreportcard.com/badge/github.com/otter-trade/coin-exchange-api)](https://goreportcard.com/report/github.com/otter-trade/coin-exchange-api)
{{end}}
